#navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    height: 60px;
    padding: 0 20px;
  }
  
  #navbar-left {
    display: flex;
    align-items: center;
  }
  #nav-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  #nav-logo img {
    height: 50px;
    margin-right: 10px;
    background-color: transparent;
  }
  
  #nav-logo:hover img {
    filter: brightness(80%);
  }
  
  #navbar-right {
    display: flex;
    align-items: center;
  }
  
  #navbar-right li {
    margin-left: 10px;
    margin-right: 30px;
  }
  
  .nav-link {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    transition: color 0.2s;
    padding: 8px 10px;
  }
  
  .nav-link:hover {
    color: #ddd;
  }
  
  #navbar-right li:last-child {
    margin-left: auto;
  }
  
  #navbar-right button {
    font-size: 18px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px 10px;
    margin: 0;
    display: inline-block;
  }
  
  #navbar-right button:hover {
    color: #ddd;
  }